<div class="content">
<h1>My Feeds</h1>

<div id="feeds">
    <%= render :partial => 'feed', :collection => @feeds %>
  <p>You have not shared any feeds.</p>
  <p><%= link_to "Add a new feed", new_user_feed_path(current_user) %></p>
</div>
<div style="clear:both"></div>

</div>