%h1 The Title
.clip
  Aliquam eget aliquam nulla. Pellentesque consequat elit id metus convallis et interdum leo commodo. Nullam adipiscing faucibus quam, sed sollicitudin augue vestibulum at. Curabitur aliquet nulla quis magna vehicula consequat. Donec sapien sapien, mollis eu malesuada at, tristique et dui. Nullam feugiat dictum felis, vel iaculis mi vehicula eget. Donec suscipit auctor arcu, eu luctus sapien vulputate eget. Vestibulum scelerisque consectetur porttitor. Nunc tellus diam, imperdiet dictum varius at, hendrerit et tellus. Mauris tempus sollicitudin nisi, vitae accumsan.
.source
  = link_to "more &raquo;".html_safe