%section.splash
  %h1 Hubbubbly Presents:
  .featured
    = render 'featured_clip'
%section.clippings
  = render 'clippings'
%section.events
  = render 'events'
%section.resources
  = render 'resources'
.clearfix
  --

