%h1 Listing calendars

%table.manage.calendars
  %thead
    %tr
      %td name
      %td url
      %td actions

  %tbody
    = render @calendars

%br

= link_to 'New Calendar', new_manage_calendar_path
