%li.event
  .title
    = link_to event.label, event_url(event)
  .date
    = event.at.strftime("%B %d, %l:%M %P")
  .location
    = event.location
  .links
    = link_to "more &raquo;".html_safe, url_for(event)