%li.event
  .title
    = link_to event.label, event.url
  .date
    = event.at.strftime("%B %d, %I:%M %p %z")
  .location
    = event.location
  .links
    = link_to "more information", url_for(event)