development:
  adapter: mysql
  database: hubbubbly_development
  username: root
  pool: 5
  timeout: 5000

test:
  adapter: mysql
  database: hubbubbly_test
  username: root
  pool: 5
  timeout: 5000
